#productdetailsbody {
  padding-top: 222px;
}
#productdetailsbody .productitemimg {
  width: 100%;
  padding: 12px;
  background-color: #f5f5f5;
  border-radius: 4;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  -ms-border-radius: 4;
  -o-border-radius: 4;
  margin-bottom: 16px;
}
#productdetailsbody .productitemimg:last-child {
  margin-bottom: 0;
}
#productdetailsbody .productmainimg {
  padding: 154px 27px 125px 27px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
