#cardbody {
  padding-top: 222px;
}

#cardbody .subMenu {
  padding-bottom: 80px;
}
#cardbody .subMenu a {
  font-size: 14px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.503);
}
#cardbody .subMenu a.active {
  color: #000;
}
#cardbody .header,
.cartItems {
  padding: 24px 40px;
  border-radius: 4px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 40px;
}
#cardbody .header h6 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
#cardbody .cartItems input {
  width: 60px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.404);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#cardbody .updatereturn {
  padding-bottom: 80px;
}
#cardbody .updatereturn a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  padding: 16px 48px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.502);
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
#cardbody .totalcoupon input {
    width: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: normal
  font-family: "Poppins", sans-serif;
}
#cardbody .totalcoupon button {
    
 padding: 0 48px;
 height: 60px;
  border-radius: 4px;
  background-color: #db4444;
  border: none;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
#cardbody .totalcoupon  .total{
    padding: 32px 24px;
    border-radius: 4px;
    border: 1.5px solid #000;
}
#cardbody .totalcoupon  .total h3{
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-bottom: 8px;
}
#cardbody .totalcoupon  .total .subtotal,.shipping,.totalammount{
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.509);
}
#cardbody .totalcoupon  .total .totalammount{
    border-bottom: none;
}
#cardbody .totalcoupon  .total .subtotal h6,.shipping h6,.totalammount h6{
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
   
}
#cardbody .totalcoupon  .total .checkout a{
    
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 16px 48px;
    border-radius: 4px;
    background-color: #db4444;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} 