#banner {
  padding-top: 160px;
}
#banner .banMenu {
  position: relative;
}
#banner .banMenu::after {
  position: absolute;
  content: "";
  top: -60px;
  right: -24px;
  width: 1px;
  height: 117%;
  background-color: rgba(161, 161, 161, 0.308);
}
#banner .banMenu ul {
  padding-left: 0;
  margin-bottom: 0;
}
#banner .banMenu ul li {
  position: relative;

  margin-bottom: 16px;
}
#banner .banMenu ul li:last-child {
  padding-bottom: 0;
}
#banner .banMenu ul li a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #000;
}
#banner .banMenu ul li svg {
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#banner .banBody {
  background-color: #000;
  padding-left: 64px;
  padding-top: 16px;
  padding-bottom: 47px;
}
#banner .banBody .banBodyTxt .series {
  padding-bottom: 20px;
}
#banner .banBody .banBodyTxt .series p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: initial;
  padding-left: 24px;
  margin-bottom: 0;
  margin-top: 4px;
}
#banner .banBody .banBodyTxt h2 {
  font-size: 58px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #fff;
  padding-bottom: 22px;
}
#banner .banBody .banBodyTxt .shop {
  cursor: pointer;
}
#banner .banBody .banBodyTxt .shop a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border-bottom: 1px solid #fff;
}
#banner .banBody .banBodyTxt .shop svg {
  font-size: 18px;
  color: #fff;
  margin-left: 12px;
}
.nextBtn svg,
.prevBtn svg {
  height: 40px;
  width: 40px;
  color: white;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.prevBtn svg {
  left: 30px;
  z-index: 1;
}
